@layer base {
	h1 {
		font-size: var(--text-2xl);
		font-weight: bold;
	}
	h2 {
		font-size: var(--text-xl);
		font-weight: bold;
	}

	h3 {
		font-size: var(--text-lg);
		font-weight: bold;
	}

	h4 {
		font-size: var(--text-md);
		font-weight: bold;
	}

	h5 {
		font-size: var(--text-sm);
		font-weight: bold;
	}

	h6 {
		font-size: var(--text-xs);
		font-weight: bold;
	}

	ul {
		list-style-type: disc;
	}

	li {
		margin-left: 1.5rem;
	}

	ol {
		list-style-type: decimal;
	}

	ol li {
		margin-left: 1.5rem;
	}
}
